<div class="page-content">
    {{> sidebar}}  

    <div class="content">
        {{> topbar}}
                    
        {{> breadcrumbs}}
    
        {{> title}}

        <div class="content-wrap">
            <div class="row">
                <div class="col-12">
                    <div class="panel">
                        <div class="panel-head">
                            <a href="registrar-orden/nuevo" class="btn btn-rounded btn-filling-info"> <i class="fo fo-plus"></i> Nuevo </a>                                
                        </div>
                        <div class="panel-body">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>