.table-item{
    width: 80px;
    height: 80px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}
.table-item.disponible{
    cursor: pointer;
    background: url(/images/disponible.png) no-repeat center center ;
    color: #419e6a;
}
.table-item.ocupado{
    background: url(/images/ocupado.png) no-repeat center center ;
    color: #b6b6b6;
}
.table-item.selected, .table-item.disponible:hover{
    background: url(/images/selected.png) no-repeat center center ;
    color: #FFFFFF;
}
.table-item.disponible,
.table-item.disponible:hover,
.table-item.ocupado,
.table-item.selected{
    background-size: 100%;
}
.categoria-carta{
    background: url(/images/carta.png) no-repeat left center ;
}
.categoria-entradas{
    background: url(/images/entradas.png) no-repeat left center ;
}
.categoria-menu{
    background: url(/images/menu.png) no-repeat left center ;
}
.categoria-bebidas{
    background: url(/images/bebidas.png) no-repeat left center ;
}
.categoria-carta,
.categoria-entradas,
.categoria-menu,
.categoria-bebidas{
    background-size: auto 100%;
    padding-left: 64px;
}
.categoria-box .list-group .list-item.active,
.categoria-box .list-group .list-item:hover{
    background-color: #419E6A;
    color: #FFFFFF;
}
.categoria-elegida .list-group .list-item.active,
.categoria-elegida .list-group .list-item:hover {
    background-color: #41ADD1;
    color: #FFFFFF;
}
.categoria-item{
    display: flex;
    justify-content: space-between;
}
.box-list{
    max-height: 253px;
}
.item-categoria,
.categoria-item{
    cursor: pointer;
}
.numero-mesa{
    position: absolute;
}
.numero-mesa.mesa-disponible{
    color: #419e6a;
}
.numero-mesa.mesa-ocupado{
    color: #b6b6b6;
}