<div class="sidebar">
    <div class="sidebar-toggle">
        <a href="" class="name-page">Cheff Food</a>
        <div class="navbar-toggle"></div>
        <div class="profile">
            <img src="/images/perfil.jpg" class="profile-photo" alt="">        
            <div class="profile-info text-center">
                <div class="small text-uppercase"> Jhon doe </div>
                <div  class="small color-light text-capitalize"> moso </div>
            </div>
            <div class="profile-controls">
                <a class="item-control color-light" href="" data-toggle="tooltip" data-title="Editar usuario"><i class="fo fo-pencil"></i></a>
                <a class="item-control color-light" href=""><i class="fo fo-envelope"></i></a>
                <a class="item-control color-light" href=""><i class="fo fo-cog"></i></a>
            </div>
        </div>

        <nav class="navbar">
            <h5 class="navbar-title">Menu</h5>
            <div class="navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item " >
                    <a href=""class="nav-link" ><span class="fo fo-desktop"></span> Panel central</a>
                    </li>
                    <li class="nav-item active" >
                    <a href="/pedidos"class="nav-link" ><span class="fo fo-sliders-h"></span> Pedidos </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>  