<div class="navigation">
    <div class="nav">
        <a href="password" class="nav-item"><i class="fo fo-lock"></i></a>
        <a href="usuarios" class="nav-item"><i class="fo fo-user"></i></a>
    </div>

    <div class="nav">
        <a href="#" class="nav-item" data-toggle="tooltip" data-title="Configurar" ><i class="fo fo-cog"></i></a>
        <a href="./" class="nav-item" data-toggle="tooltip" data-title="Cerrar Sesión"><i class="fo fo-power-off"></i></a>        
    </div>
</div>